.imgs-container {
  transition: 0.5s ease-in-out;
}

#slider .imgs-sidebar-container {
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  border: 0.5px solid #51555856;
  height: 70px;
  width: 100%;
  padding: 10px;
}

.sidebar-container {
  max-height: 400px;
  transition: 0.5s ease-in-out;
  height: 400px;
  padding-bottom: 10px;
}
.sidebar-container img {
  height: 100%;
  width: 100%;
}
#slider .imgs-sidebar-container.active {
  border-color: #3c86c1;
}
.imgs-slider-container {
  transition: 0.5s ease-in-out;
}
