.imgs-container {
  transition: 0.5s ease-in-out;
  gap: 10px;
}

.imgs-container img {
  width: 100% !important;
}

#slider .imgs-sidebar-container {
  cursor: pointer;
  transition: 0.5s ease-in-out;
  border: 0.5px solid #51555856;
  padding: 10px;
}

.sidebar-container {
  transition: 0.5s ease-in-out;
}
.sidebar-container img {
  height: 100%;
  object-fit: cover;
}
#slider .imgs-sidebar-container.active {
  border-color: #3c86c1;
}

.imgs-slider-container {
  transition: 0.5s ease-in-out;
}
.btns-navigator {
  position: relative;
}
.btns-navigator button {
  color: #3c86c1 !important;
  font-size: 20px;
  outline: 0;
  border: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
}
.btns-navigator button:disabled {
  color: #3c85c191;
}
.btns-navigator button:first-of-type {
  left: -10px;
}
.btns-navigator button:last-of-type {
  right: -10px;
}
.btns-navigator p {
  font-size: 16px;
}

@media (max-width: 767px) {
  #slider .imgs-sidebar-container {
    margin-bottom: 0;
  }
  #slider .sidebar-container {
    height: auto !important;
    margin-bottom: 15px;
  }
  /* #slider .imgs-sidebar-container.first:first-of-type {
    margin-left: 10px;
    background-color: red;
  } */
  .btns-navigator button:first-of-type {
    left: 0px;
  }
  .btns-navigator button:last-of-type {
    right: 0px;
  }
  .imgs-sidebar-container {
    height: 100% !important;
  }
  .imgs-container {
    width: 100%;
  }
  .flow-container {
    max-width: 506px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .imgs-container {
    width: 506px;
  }
  .flow-container {
    max-width: 1000px;
    margin: auto;
  }
}
